{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://localhost/ttigraas",
      "useLocalAssets": true
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "ageoflegends.cz/sub/game/",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "sftp",
      "history": [
        {
          "file": "LICENSE",
          "mtimeMs": 1651582546657.257,
          "date": "2022-05-03T13:06:47.496Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1651582546658.257,
          "date": "2022-05-03T13:06:47.755Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1651684434515.0735,
          "date": "2022-05-04T17:13:55.299Z"
        },
        {
          "file": "game/game.php",
          "mtimeMs": 1651582546666.2534,
          "date": "2022-05-03T13:06:48.440Z"
        },
        {
          "file": "game/navbar.php",
          "mtimeMs": 1651681986675.521,
          "date": "2022-05-04T16:33:07.596Z"
        },
        {
          "file": "game/addons/quest_rewards.php",
          "mtimeMs": 1651582546661.2573,
          "date": "2022-05-03T13:06:49.198Z"
        },
        {
          "file": "game/addons/refine_proto.php",
          "mtimeMs": 1651582546662.2595,
          "date": "2022-05-03T13:06:49.518Z"
        },
        {
          "file": "game/addons/salvages.php",
          "mtimeMs": 1651582546664.2556,
          "date": "2022-05-03T13:06:49.882Z"
        },
        {
          "file": "game/images/Master.png",
          "mtimeMs": 1651582546668.2517,
          "date": "2022-05-03T13:06:50.247Z"
        },
        {
          "file": "game/images/Town.png",
          "mtimeMs": 1651582546678.2478,
          "date": "2022-05-03T13:06:52.971Z"
        },
        {
          "file": "game/images/Town.psd",
          "mtimeMs": 1651582546743.2102,
          "date": "2022-05-03T13:07:01.602Z"
        },
        {
          "file": "game/images/background.png",
          "mtimeMs": 1651582546757.1997,
          "date": "2022-05-03T13:07:04.159Z"
        },
        {
          "file": "game/images/magicule.png",
          "mtimeMs": 1651582546884.1277,
          "date": "2022-05-03T13:07:04.569Z"
        },
        {
          "file": "game/images/money.png",
          "mtimeMs": 1651582546885.1277,
          "date": "2022-05-03T13:07:05.001Z"
        },
        {
          "file": "game/images/sage.png",
          "mtimeMs": 1651582546905.1157,
          "date": "2022-05-03T13:07:05.409Z"
        },
        {
          "file": "game/images/visual-building.png",
          "mtimeMs": 1651582546909.1133,
          "date": "2022-05-03T13:07:06.723Z"
        },
        {
          "file": "game/images/items/1.png",
          "mtimeMs": 1651582546759.1992,
          "date": "2022-05-03T13:07:07.245Z"
        },
        {
          "file": "game/images/items/10.png",
          "mtimeMs": 1651582546761.2004,
          "date": "2022-05-03T13:07:07.675Z"
        },
        {
          "file": "game/images/items/100.png",
          "mtimeMs": 1651582546762.198,
          "date": "2022-05-03T13:07:08.126Z"
        },
        {
          "file": "game/images/items/101.png",
          "mtimeMs": 1651582546763.1985,
          "date": "2022-05-03T13:07:08.551Z"
        },
        {
          "file": "game/images/items/102.png",
          "mtimeMs": 1651582546765.1982,
          "date": "2022-05-03T13:07:08.958Z"
        },
        {
          "file": "game/images/items/103.png",
          "mtimeMs": 1651582546768.1938,
          "date": "2022-05-03T13:07:09.369Z"
        },
        {
          "file": "game/images/items/104.png",
          "mtimeMs": 1651582546769.193,
          "date": "2022-05-03T13:07:09.893Z"
        },
        {
          "file": "game/images/items/11.png",
          "mtimeMs": 1651582546770.1924,
          "date": "2022-05-03T13:07:10.354Z"
        },
        {
          "file": "game/images/items/12.png",
          "mtimeMs": 1651582546771.192,
          "date": "2022-05-03T13:07:10.780Z"
        },
        {
          "file": "game/images/items/13.png",
          "mtimeMs": 1651582546772.1914,
          "date": "2022-05-03T13:07:11.203Z"
        },
        {
          "file": "game/images/items/14.png",
          "mtimeMs": 1651582546773.1917,
          "date": "2022-05-03T13:07:11.631Z"
        },
        {
          "file": "game/images/items/15.png",
          "mtimeMs": 1651582546774.1902,
          "date": "2022-05-03T13:07:12.056Z"
        },
        {
          "file": "game/images/items/16.png",
          "mtimeMs": 1651582546775.1897,
          "date": "2022-05-03T13:07:12.476Z"
        },
        {
          "file": "game/images/items/17.png",
          "mtimeMs": 1651582546776.189,
          "date": "2022-05-03T13:07:13.093Z"
        },
        {
          "file": "game/images/items/18.png",
          "mtimeMs": 1651582546777.1914,
          "date": "2022-05-03T13:07:13.538Z"
        },
        {
          "file": "game/images/items/19.png",
          "mtimeMs": 1651582546778.1877,
          "date": "2022-05-03T13:07:13.947Z"
        },
        {
          "file": "game/images/items/2.png",
          "mtimeMs": 1651582546779.1875,
          "date": "2022-05-03T13:07:14.365Z"
        },
        {
          "file": "game/images/items/20.png",
          "mtimeMs": 1651582546780.187,
          "date": "2022-05-03T13:07:15.102Z"
        },
        {
          "file": "game/images/items/21.png",
          "mtimeMs": 1651582546781.1873,
          "date": "2022-05-03T13:07:15.648Z"
        },
        {
          "file": "game/images/items/22.png",
          "mtimeMs": 1651582546782.1858,
          "date": "2022-05-03T13:07:16.128Z"
        },
        {
          "file": "game/images/items/23.png",
          "mtimeMs": 1651582546783.1855,
          "date": "2022-05-03T13:07:16.592Z"
        },
        {
          "file": "game/images/items/24.png",
          "mtimeMs": 1651582546784.1846,
          "date": "2022-05-03T13:07:17.056Z"
        },
        {
          "file": "game/images/items/25.png",
          "mtimeMs": 1651582546785.184,
          "date": "2022-05-03T13:07:17.521Z"
        },
        {
          "file": "game/images/items/26.png",
          "mtimeMs": 1651582546786.1838,
          "date": "2022-05-03T13:07:17.952Z"
        },
        {
          "file": "game/images/items/27.png",
          "mtimeMs": 1651582546787.183,
          "date": "2022-05-03T13:07:18.365Z"
        },
        {
          "file": "game/images/items/28.png",
          "mtimeMs": 1651582546788.1829,
          "date": "2022-05-03T13:07:18.836Z"
        },
        {
          "file": "game/images/items/29.png",
          "mtimeMs": 1651582546789.1843,
          "date": "2022-05-03T13:07:19.280Z"
        },
        {
          "file": "game/images/items/3.png",
          "mtimeMs": 1651582546791.182,
          "date": "2022-05-03T13:07:19.707Z"
        },
        {
          "file": "game/images/items/30.png",
          "mtimeMs": 1651582546792.1814,
          "date": "2022-05-03T13:07:20.202Z"
        },
        {
          "file": "game/images/items/31.png",
          "mtimeMs": 1651582546794.1792,
          "date": "2022-05-03T13:07:20.848Z"
        },
        {
          "file": "game/images/items/32.png",
          "mtimeMs": 1651582546795.18,
          "date": "2022-05-03T13:07:21.687Z"
        },
        {
          "file": "game/images/items/33.png",
          "mtimeMs": 1651582546796.1775,
          "date": "2022-05-03T13:07:22.157Z"
        },
        {
          "file": "game/images/items/34.png",
          "mtimeMs": 1651582546798.1763,
          "date": "2022-05-03T13:07:22.580Z"
        },
        {
          "file": "game/images/items/35.png",
          "mtimeMs": 1651582546799.1755,
          "date": "2022-05-03T13:07:23.026Z"
        },
        {
          "file": "game/images/items/36.png",
          "mtimeMs": 1651582546800.1758,
          "date": "2022-05-03T13:07:23.481Z"
        },
        {
          "file": "game/images/items/37.png",
          "mtimeMs": 1651582546801.1748,
          "date": "2022-05-03T13:07:23.913Z"
        },
        {
          "file": "game/images/items/38.png",
          "mtimeMs": 1651582546802.174,
          "date": "2022-05-03T13:07:24.498Z"
        },
        {
          "file": "game/images/items/39.png",
          "mtimeMs": 1651582546803.1733,
          "date": "2022-05-03T13:07:25.021Z"
        },
        {
          "file": "game/images/items/4.png",
          "mtimeMs": 1651582546805.1724,
          "date": "2022-05-03T13:07:25.456Z"
        },
        {
          "file": "game/images/items/40.png",
          "mtimeMs": 1651582546806.1714,
          "date": "2022-05-03T13:07:25.888Z"
        },
        {
          "file": "game/images/items/41.png",
          "mtimeMs": 1651582546807.1714,
          "date": "2022-05-03T13:07:26.294Z"
        },
        {
          "file": "game/images/items/42.png",
          "mtimeMs": 1651582546808.171,
          "date": "2022-05-03T13:07:26.712Z"
        },
        {
          "file": "game/images/items/43.png",
          "mtimeMs": 1651582546810.1711,
          "date": "2022-05-03T13:07:27.170Z"
        },
        {
          "file": "game/images/items/44.png",
          "mtimeMs": 1651582546811.1692,
          "date": "2022-05-03T13:07:27.599Z"
        },
        {
          "file": "game/images/items/45.png",
          "mtimeMs": 1651582546812.1687,
          "date": "2022-05-03T13:07:28.004Z"
        },
        {
          "file": "game/images/items/46.png",
          "mtimeMs": 1651582546813.168,
          "date": "2022-05-03T13:07:28.455Z"
        },
        {
          "file": "game/images/items/47.png",
          "mtimeMs": 1651582546814.1675,
          "date": "2022-05-03T13:07:28.870Z"
        },
        {
          "file": "game/images/items/48.png",
          "mtimeMs": 1651582546816.1663,
          "date": "2022-05-03T13:07:29.476Z"
        },
        {
          "file": "game/images/items/49.png",
          "mtimeMs": 1651582546817.165,
          "date": "2022-05-03T13:07:29.921Z"
        },
        {
          "file": "game/images/items/5.png",
          "mtimeMs": 1651582546818.1643,
          "date": "2022-05-03T13:07:30.349Z"
        },
        {
          "file": "game/images/items/50.png",
          "mtimeMs": 1651582546819.1643,
          "date": "2022-05-03T13:07:30.749Z"
        },
        {
          "file": "game/images/items/51.png",
          "mtimeMs": 1651582546820.1643,
          "date": "2022-05-03T13:07:31.145Z"
        },
        {
          "file": "game/images/items/52.png",
          "mtimeMs": 1651582546821.1714,
          "date": "2022-05-03T13:07:31.555Z"
        },
        {
          "file": "game/images/items/53.png",
          "mtimeMs": 1651582546822.1658,
          "date": "2022-05-03T13:07:31.979Z"
        },
        {
          "file": "game/images/items/54.png",
          "mtimeMs": 1651582546824.1682,
          "date": "2022-05-03T13:07:32.377Z"
        },
        {
          "file": "game/images/items/55.png",
          "mtimeMs": 1651582546825.162,
          "date": "2022-05-03T13:07:32.804Z"
        },
        {
          "file": "game/images/items/56.png",
          "mtimeMs": 1651582546827.16,
          "date": "2022-05-03T13:07:33.196Z"
        },
        {
          "file": "game/images/items/57.png",
          "mtimeMs": 1651582546828.1587,
          "date": "2022-05-03T13:07:33.611Z"
        },
        {
          "file": "game/images/items/58.png",
          "mtimeMs": 1651582546829.1587,
          "date": "2022-05-03T13:07:34.010Z"
        },
        {
          "file": "game/images/items/59.png",
          "mtimeMs": 1651582546830.158,
          "date": "2022-05-03T13:07:34.411Z"
        },
        {
          "file": "game/images/items/6.png",
          "mtimeMs": 1651582546831.158,
          "date": "2022-05-03T13:07:34.827Z"
        },
        {
          "file": "game/images/items/60.png",
          "mtimeMs": 1651582546832.1575,
          "date": "2022-05-03T13:07:35.250Z"
        },
        {
          "file": "game/images/items/61.png",
          "mtimeMs": 1651582546833.157,
          "date": "2022-05-03T13:07:35.670Z"
        },
        {
          "file": "game/images/items/62.png",
          "mtimeMs": 1651582546834.1565,
          "date": "2022-05-03T13:07:36.082Z"
        },
        {
          "file": "game/images/items/63.png",
          "mtimeMs": 1651582546835.155,
          "date": "2022-05-03T13:07:36.482Z"
        },
        {
          "file": "game/images/items/64.png",
          "mtimeMs": 1651582546837.1555,
          "date": "2022-05-03T13:07:36.901Z"
        },
        {
          "file": "game/images/items/65.png",
          "mtimeMs": 1651582546838.1533,
          "date": "2022-05-03T13:07:37.303Z"
        },
        {
          "file": "game/images/items/66.png",
          "mtimeMs": 1651582546839.1538,
          "date": "2022-05-03T13:07:37.700Z"
        },
        {
          "file": "game/images/items/67.png",
          "mtimeMs": 1651582546840.152,
          "date": "2022-05-03T13:07:38.164Z"
        },
        {
          "file": "game/images/items/68.png",
          "mtimeMs": 1651582546841.152,
          "date": "2022-05-03T13:07:38.547Z"
        },
        {
          "file": "game/images/items/69.png",
          "mtimeMs": 1651582546842.1519,
          "date": "2022-05-03T13:07:38.938Z"
        },
        {
          "file": "game/images/items/7.png",
          "mtimeMs": 1651582546843.1506,
          "date": "2022-05-03T13:07:39.351Z"
        },
        {
          "file": "game/images/items/70.png",
          "mtimeMs": 1651582546844.15,
          "date": "2022-05-03T13:07:39.729Z"
        },
        {
          "file": "game/images/items/71.png",
          "mtimeMs": 1651582546845.1506,
          "date": "2022-05-03T13:07:40.135Z"
        },
        {
          "file": "game/images/items/72.png",
          "mtimeMs": 1651582546846.1494,
          "date": "2022-05-03T13:07:40.554Z"
        },
        {
          "file": "game/images/items/73.png",
          "mtimeMs": 1651582546847.1484,
          "date": "2022-05-03T13:07:40.942Z"
        },
        {
          "file": "game/images/items/74.png",
          "mtimeMs": 1651582546849.1472,
          "date": "2022-05-03T13:07:41.401Z"
        },
        {
          "file": "game/images/items/75.png",
          "mtimeMs": 1651582546850.1497,
          "date": "2022-05-03T13:07:41.798Z"
        },
        {
          "file": "game/images/items/76.png",
          "mtimeMs": 1651582546851.1462,
          "date": "2022-05-03T13:07:42.188Z"
        },
        {
          "file": "game/images/items/77.png",
          "mtimeMs": 1651582546853.1516,
          "date": "2022-05-03T13:07:42.597Z"
        },
        {
          "file": "game/images/items/78.png",
          "mtimeMs": 1651582546854.1458,
          "date": "2022-05-03T13:07:43.000Z"
        },
        {
          "file": "game/images/items/79.png",
          "mtimeMs": 1651582546856.1433,
          "date": "2022-05-03T13:07:43.398Z"
        },
        {
          "file": "game/images/items/8.png",
          "mtimeMs": 1651582546857.1438,
          "date": "2022-05-03T13:07:43.800Z"
        },
        {
          "file": "game/images/items/80.png",
          "mtimeMs": 1651582546859.1414,
          "date": "2022-05-03T13:07:44.214Z"
        },
        {
          "file": "game/images/items/81.png",
          "mtimeMs": 1651582546860.141,
          "date": "2022-05-03T13:07:44.618Z"
        },
        {
          "file": "game/images/items/82.png",
          "mtimeMs": 1651582546861.1401,
          "date": "2022-05-03T13:07:45.015Z"
        },
        {
          "file": "game/images/items/83.png",
          "mtimeMs": 1651582546862.1404,
          "date": "2022-05-03T13:07:45.416Z"
        },
        {
          "file": "game/images/items/84.png",
          "mtimeMs": 1651582546863.1392,
          "date": "2022-05-03T13:07:45.833Z"
        },
        {
          "file": "game/images/items/85.png",
          "mtimeMs": 1651582546864.1384,
          "date": "2022-05-03T13:07:46.236Z"
        },
        {
          "file": "game/images/items/86.png",
          "mtimeMs": 1651582546866.138,
          "date": "2022-05-03T13:07:46.638Z"
        },
        {
          "file": "game/images/items/87.png",
          "mtimeMs": 1651582546867.1372,
          "date": "2022-05-03T13:07:47.052Z"
        },
        {
          "file": "game/images/items/88.png",
          "mtimeMs": 1651582546868.1377,
          "date": "2022-05-03T13:07:47.469Z"
        },
        {
          "file": "game/images/items/89.png",
          "mtimeMs": 1651582546869.1357,
          "date": "2022-05-03T13:07:47.904Z"
        },
        {
          "file": "game/images/items/9.png",
          "mtimeMs": 1651582546871.1348,
          "date": "2022-05-03T13:07:48.327Z"
        },
        {
          "file": "game/images/items/90.png",
          "mtimeMs": 1651582546872.134,
          "date": "2022-05-03T13:07:48.711Z"
        },
        {
          "file": "game/images/items/91.png",
          "mtimeMs": 1651582546872.134,
          "date": "2022-05-03T13:07:49.120Z"
        },
        {
          "file": "game/images/items/92.png",
          "mtimeMs": 1651582546873.1345,
          "date": "2022-05-03T13:07:49.525Z"
        },
        {
          "file": "game/images/items/93.png",
          "mtimeMs": 1651582546874.1333,
          "date": "2022-05-03T13:07:49.921Z"
        },
        {
          "file": "game/images/items/94.png",
          "mtimeMs": 1651582546875.1328,
          "date": "2022-05-03T13:07:50.344Z"
        },
        {
          "file": "game/images/items/95.png",
          "mtimeMs": 1651582546876.1338,
          "date": "2022-05-03T13:07:50.741Z"
        },
        {
          "file": "game/images/items/96.png",
          "mtimeMs": 1651582546878.131,
          "date": "2022-05-03T13:07:51.158Z"
        },
        {
          "file": "game/images/items/97.png",
          "mtimeMs": 1651582546879.131,
          "date": "2022-05-03T13:07:51.566Z"
        },
        {
          "file": "game/images/items/98.png",
          "mtimeMs": 1651582546880.1338,
          "date": "2022-05-03T13:07:51.979Z"
        },
        {
          "file": "game/images/items/99.png",
          "mtimeMs": 1651582546882.134,
          "date": "2022-05-03T13:07:52.383Z"
        },
        {
          "file": "game/images/quests/Armorsaurus.png",
          "mtimeMs": 1651582546886.1265,
          "date": "2022-05-03T13:07:52.870Z"
        },
        {
          "file": "game/images/quests/Bandit.png",
          "mtimeMs": 1651582546888.1245,
          "date": "2022-05-03T13:07:53.328Z"
        },
        {
          "file": "game/images/quests/Black_serpent.png",
          "mtimeMs": 1651582546889.1255,
          "date": "2022-05-03T13:07:53.796Z"
        },
        {
          "file": "game/images/quests/Black_spider.png",
          "mtimeMs": 1651582546890.125,
          "date": "2022-05-03T13:07:54.246Z"
        },
        {
          "file": "game/images/quests/Direwolf.png",
          "mtimeMs": 1651582546891.1228,
          "date": "2022-05-03T13:07:54.708Z"
        },
        {
          "file": "game/images/quests/Evil_centipede.png",
          "mtimeMs": 1651582546893.1255,
          "date": "2022-05-03T13:07:55.160Z"
        },
        {
          "file": "game/images/quests/Giant_bat.png",
          "mtimeMs": 1651582546894.1228,
          "date": "2022-05-03T13:07:55.637Z"
        },
        {
          "file": "game/images/quests/Goblin.png",
          "mtimeMs": 1651582546895.1216,
          "date": "2022-05-03T13:07:56.066Z"
        },
        {
          "file": "game/images/race/Angel.png",
          "mtimeMs": 1651582546897.12,
          "date": "2022-05-03T13:07:56.528Z"
        },
        {
          "file": "game/images/race/Demon.png",
          "mtimeMs": 1651582546898.12,
          "date": "2022-05-03T13:07:56.956Z"
        },
        {
          "file": "game/images/race/Goblin.png",
          "mtimeMs": 1651582546899.1184,
          "date": "2022-05-03T13:07:57.366Z"
        },
        {
          "file": "game/images/race/Human.png",
          "mtimeMs": 1651582546900.1196,
          "date": "2022-05-03T13:07:57.775Z"
        },
        {
          "file": "game/images/race/Lizardman.png",
          "mtimeMs": 1651582546902.12,
          "date": "2022-05-03T13:07:58.231Z"
        },
        {
          "file": "game/images/race/Orc.png",
          "mtimeMs": 1651582546903.1355,
          "date": "2022-05-03T13:07:58.648Z"
        },
        {
          "file": "game/images/race/Slime.png",
          "mtimeMs": 1651582546904.118,
          "date": "2022-05-03T13:07:59.045Z"
        },
        {
          "file": "game/pages/Inventory.php",
          "mtimeMs": 1651582546913.111,
          "date": "2022-05-03T13:07:59.486Z"
        },
        {
          "file": "game/pages/admin.php",
          "mtimeMs": 1651582546914.1113,
          "date": "2022-05-03T13:07:59.864Z"
        },
        {
          "file": "game/pages/free_guild.php",
          "mtimeMs": 1651684539271.4546,
          "date": "2022-05-04T17:15:40.116Z"
        },
        {
          "file": "game/pages/labyrinth.php",
          "mtimeMs": 1651582546918.108,
          "date": "2022-05-03T13:08:00.654Z"
        },
        {
          "file": "game/pages/logout.php",
          "mtimeMs": 1651676789682.1702,
          "date": "2022-05-04T15:06:30.519Z"
        },
        {
          "file": "game/pages/news.php",
          "mtimeMs": 1651681925628.9678,
          "date": "2022-05-04T16:32:06.479Z"
        },
        {
          "file": "game/pages/stables.php",
          "mtimeMs": 1651582546922.1062,
          "date": "2022-05-03T13:08:01.732Z"
        },
        {
          "file": "game/pages/town.php",
          "mtimeMs": 1651582546923.106,
          "date": "2022-05-03T13:08:02.165Z"
        },
        {
          "file": "game/pages/admin/Items.php",
          "mtimeMs": 1651582546916.1094,
          "date": "2022-05-03T13:08:02.644Z"
        },
        {
          "file": "sql/item_proto.sql",
          "mtimeMs": 1651582546928.102,
          "date": "2022-05-03T13:08:02.997Z"
        },
        {
          "file": "sql/ttigraas.sql",
          "mtimeMs": 1651582546929.1018,
          "date": "2022-05-03T13:08:03.316Z"
        },
        {
          "file": "style/main.css",
          "mtimeMs": 1651685399482.6243,
          "date": "2022-05-04T17:30:00.309Z"
        },
        {
          "file": "system/config.php",
          "mtimeMs": 1651585428863.942,
          "date": "2022-05-03T13:43:49.799Z"
        },
        {
          "file": "system/errors.txt",
          "mtimeMs": 1651582546947.0913,
          "date": "2022-05-03T13:08:04.332Z"
        },
        {
          "file": "system/classes/Character.class.php",
          "mtimeMs": 1651586041650.391,
          "date": "2022-05-03T13:54:02.650Z"
        },
        {
          "file": "system/classes/Core.class.php",
          "mtimeMs": 1651582546935.0981,
          "date": "2022-05-03T13:08:05.117Z"
        },
        {
          "file": "system/classes/Database.class.php",
          "mtimeMs": 1651582546937.0974,
          "date": "2022-05-03T13:08:05.494Z"
        },
        {
          "file": "system/classes/Item.class.php",
          "mtimeMs": 1651586283444.1921,
          "date": "2022-05-03T13:58:04.483Z"
        },
        {
          "file": "system/classes/Monster.class.php",
          "mtimeMs": 1651582546940.0972,
          "date": "2022-05-03T13:08:06.283Z"
        },
        {
          "file": "system/classes/Player.class.php",
          "mtimeMs": 1651582546941.0947,
          "date": "2022-05-03T13:08:06.678Z"
        },
        {
          "file": "system/classes/Quests.class.php",
          "mtimeMs": 1651582546943.0938,
          "date": "2022-05-03T13:08:07.059Z"
        },
        {
          "file": "system/classes/Town.class.php",
          "mtimeMs": 1651582546944.0933,
          "date": "2022-05-03T13:08:07.434Z"
        },
        {
          "file": "system/classes/User.class.php",
          "mtimeMs": 1651582546945.0942,
          "date": "2022-05-03T13:08:07.801Z"
        },
        {
          "file": "system/db_config.php",
          "mtimeMs": 1651585287315.8792,
          "date": "2022-05-03T13:41:28.275Z"
        },
        {
          "file": "game/pages/inventory.php",
          "mtimeMs": 1651679057874.7097,
          "date": "2022-05-04T15:44:18.750Z"
        },
        {
          "file": "game/pages/login.php",
          "mtimeMs": 1651677308782.4277,
          "date": "2022-05-04T15:15:09.611Z"
        },
        {
          "file": "pages/login.php",
          "mtimeMs": 1651684285679.5825,
          "date": "2022-05-04T17:11:26.486Z"
        },
        {
          "file": "pages/register.php",
          "mtimeMs": 1651684302421.2444,
          "date": "2022-05-04T17:11:43.262Z"
        },
        {
          "file": "game/pages/stats.php",
          "mtimeMs": 1651685364110.119,
          "date": "2022-05-04T17:29:24.963Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
