$background: #36393f
$color: #fff
$input_bg: #2f3136
$link_color: #c69856

body
    background-color: $background
    background-image: url(../game/images/background.png)
    background-position: center top
    color: #fff
    overflow: hidden

#sidebar
    position: absolute
    max-width: 255px
    height: 100vh
    max-height: 100vh
    overflow-y: overlay
    overflow-x: hidden
    top: 0
    left: 0

#content
    position: absolute
    left: 255px
    top: 0
    width: calc( 100vw - 255px )
    max-width: calc( 100vw - 255px )
    height: 100vh
    max-height: 100vh
    overflow-y: overlay
    overflow-x: hidden
    padding: 10px
    background-color: $background

::-webkit-scrollbar 
    width: 0
    background: transparent

.forms
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $background
    h1
        text-align: center
    form
        border: 3px solid lighten($background, 10%)
        padding: 25px 50px

a
    color: $link_color
    opacity: 75%
    text-decoration: none
    &:hover, &.active
        color: $link_color!important
        opacity: 100%
.nav-link
    color: $link_color!important
    opacity: 75%
    text-decoration: none
    &:hover
        color: $link_color
        opacity: 100%

.city-bg
    display: flex
    justify-content: center
    position: relative
    .visual-building
        position: absolute
        display: inline-block
        overflow: hidden
        background: url(../game/images/visual-building.png) no-repeat
        &.visual-building-main1
            width: 103px
            height: 73px
            background-position: -101px -378px
            left: 777px
            top: 56px
        &.visual-building-main2
            width: 108px
            height: 83px
            background-position: -489px -301px
            left: 774px
            top: 47px
        &.visual-building-main3
            width: 120px
            height: 98px
            background-position: -388px -97px
            left: 757px
            top: 32px
        &.visual-building-storage1
            width: 84px
            height: 73px
            background-position: -1px -540px
            left: 418px
            top: 288px
        &.visual-building-storage2
            width: 94px
            height: 79px
            background-position: -206px -400px
            left: 418px
            top: 288px
        &.visual-building-storage3
            width: 94px
            height: 88px
            background-position: -467px -386px
            left: 418px
            top: 288px
        &.visual-building-farm1
            width: 69px
            height: 65px
            background-position: -639px -465px
            left: 1100px
            top: 214px
        &.visual-building-farm2
            width: 126px
            height: 74px
            background-position: -361px -282px
            left: 1050px
            top: 214px
        &.visual-building-farm3
            width: 139px
            height: 94px
            background-position: -388px -1px
            left: 1030px
            top: 214px
        &.visual-building-church1
            width: 99px
            height: 92px
            background-position: -602px -215px
            left: 1323px
            top: 466px
        &.visual-building-church2
            width: 115px
            height: 117px
            background-position: -271px -1px
            left: 1323px
            top: 466px
        &.visual-building-church3
            width: 138px
            height: 122px
            background-position: -1px -1px
            left: 1300px
            top: 466px
        &.visual-building-barracks1
            width: 98px
            height: 61px
            background-position: -350px -508px
            left: 1192px
            top: 328px
        &.visual-building-barracks2
            width: 98px
            height: 78px
            background-position: -1px -376px
            left: 1192px
            top: 328px
        &.visual-building-barracks3
            width: 112px
            height: 95px
            background-position: -271px -120px
            left: 1192px
            top: 328px
        &.visual-building-watchtower1
            width: 53px
            height: 69px
            background-position: -651px -1px
            left: 924px
            top: 93px
        &.visual-building-watchtower2
            width: 59px
            height: 85px
            background-position: -638px -128px
            left: 930px
            top: 85px
        &.visual-building-watchtower3
            width: 74px
            height: 107px
            background-position: -563px -393px
            left: 915px
            top: 59px
        &.visual-building-market1
            width: 94px
            height: 68px
            background-position: -177px -565px
            left: 546px
            top: 137px
        &.visual-building-market2
            width: 113px
            height: 81px
            background-position: -124px -218px
            left: 546px
            top: 137px
        &.visual-building-market3
            width: 120px
            height: 105px
            background-position: -529px -1px
            left: 546px
            top: 137px
        &.visual-building-stable1
            width: 110px
            height: 77px
            background-position: -243px -321px
            left: 284px
            top: 471px
        &.visual-building-stable2
            width: 119px
            height: 83px
            background-position: -385px -197px
            left: 284px
            top: 471px
        &.visual-building-stable3
            width: 132px
            height: 87px
            background-position: -1px -125px
            left: 284px
            top: 471px
        &.visual-building-garage1
            width: 85px
            height: 82px
            background-position: -1px -456px
            left: 519px
            top: 530px
        &.visual-building-garage2
            width: 106px
            height: 82px
            background-position: -599px -309px
            left: 519px
            top: 530px
        &.visual-building-garage3
            width: 126px
            height: 87px
            background-position: -510px -108px
            left: 519px
            top: 530px
        &.visual-building-wood1
            width: 76px
            height: 68px
            background-position: -625px -593px
            left: 600px
            top: 300px
        &.visual-building-wood2
            width: 91px
            height: 68px
            background-position: -83px -616px
            left: 600px
            top: 300px
        &.visual-building-wood3
            width: 99px
            height: 70px
            background-position: -352px -436px
            left: 600px
            top: 300px
        &.visual-building-stone1
            width: 59px
            height: 55px
            background-position: -176px -635px
            left: 1000px
            top: 350px
        &.visual-building-stone2
            width: 69px
            height: 70px
            background-position: -639px -393px
            left: 1000px
            top: 333px
        &.visual-building-stone3
            width: 83px
            height: 82px
            background-position: -190px -481px
            left: 1000px
            top: 321px
        &.visual-building-iron1
            width: 56px
            height: 54px
            background-position: -651px -72px
            left: 785px
            top: 215px
        &.visual-building-iron2
            width: 75px
            height: 65px
            background-position: -273px -584px
            left: 785px
            top: 215px
        &.visual-building-iron3
            width: 87px
            height: 75px
            background-position: -88px -539px
            left: 785px
            top: 215px
        &.visual-building-smith1
            width: 117px
            height: 75px
            background-position: -124px -301px
            left: 835px
            top: 450px
        &.visual-building-smith2
            width: 122px
            height: 93px
            background-position: -141px -123px
            left: 835px
            top: 450px
        &.visual-building-smith3
            width: 121px
            height: 93px
            background-position: -1px -214px
            left: 835px
            top: 450px
.progress
    height: 25px
    line-height: 25px
    &.bg-success 
        background-color: darken(#198754, 10%)!important
    &.bg-danger
        background-color: darken(#dc3545, 10%)!important
    .progress-bar
        span
            position: absolute
            display: block
            width: 100%
            color: white
            text-shadow: 1px 1px #000

.nav-item
    &:hover
        background-color: darken(#212529, 10%)!important

.btn
    color: darken($color, 10%)
    &:hover, &:focus
        color: $color
        box-shadow: none

.card
    border-radius: 0px
    margin-bottom: 15px!important

label
    cursor: pointer

.form-control
    background-color: $input_bg
    border: 1px solid lighten($input_bg, 10%)
    color: $color
    &:read-only
        background-color: $input_bg
    &:focus
        background-color: darken($input_bg, 3%)
        color: darken($color, 25%)
    &.selectmultiple
        height: 145px!important

.nav-pills 
    .nav-link
        &.active, &.hover
            background-color: lighten(#212529, 7%)

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

.equipment
    .weapon
        margin-left: 25px!important
        margin-top: 18px
    .helmet
        margin: 0 auto
    .armor
        margin-left: 50px!important
        margin-top: 18px
    .shield
        margin-left: 15px!important
    .earings
        margin-left: 15px!important
    .bracelet
        margin-left: 15px!important
        margin-top: 18px!important
    .necklace
        margin-left: 15px!important
        margin-top: 18px!important
    .belt
        display: inline-block
        margin: 0px auto
    .boots
        display: inline-block
        margin: 0 auto
    .item
        position: relative
        &:hover > .stats
            display: block
        .stats
            display: none
            position: absolute
            background-color: rgba(0, 0, 0, 0.75)
            padding: 10px 15px
            font-size: 13px
            z-index: 1
            transform: translate(-40%)

.item
    position: relative
    &:hover > .stats
        display: block
    .stats
        display: none
        position: absolute
        background-color: rgba(0, 0, 0, 0.75)
        font-size: 13px
        z-index: 1
        transform: translate(-40%)
        min-width: 175px

.small-slot
    width: 36px
    height: 36px
    background-color: rgba(255,255,255,0.15)
    border: 1px solid rgba(0, 0, 0, 1)
    box-sizing: border-box
    padding-bottom: 3px
    padding-right: 3px
    position: relative
    .quantity
        position: absolute
        bottom: 0px
        right: 0px
        background-color: rgba(0, 0, 0, 0.25)
        font-size: 11px
        color: white
.medium-slot
    width: 36px
    height: 72px
    background-color: rgba(255,255,255,0.15)
    border: 1px solid rgba(0, 0, 0, 1)
.large-slot
    width: 36px
    height: 108px
    background-color: rgba(255,255,255,0.15)
    border: 1px solid rgba(0, 0, 0, 1)
.small-slot,.medium-slot,.large-slot
    position: relative
    img
        position: absolute
        top: 2px
        left: 2px
    &.common
        border: 1px solid #666666!important
    &.uncommon
        border: 1px solid #ffffff!important
    &.special
        border: 1px solid #1eff00!important
    &.rare
        border: 1px solid #0070dd!important
    &.unique
        border: 1px solid #00ccff!important
    &.legend
        border: 1px solid #a335ee!important
    &.mythical
        border: 1px solid #e6cc80!important
    &.genesis
        border: 1px solid #ff8000!important
    